* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
}

.page-content {
  max-width: 1600px;
  margin: 0 auto;
}

.mdl-layout__header-row {
  justify-content: space-between;
}

.current-user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.current-user .material-icons {
  font-size: 34px;
  margin-right: 8px;
}

.breadcrumbs {
  margin-bottom: 16px;
}

.breadcrumbs > * {
  vertical-align: middle;
}

.breadcrumbs i {
  font-size: 1em;
}

.administration .page-content {
  margin: 0;
  padding: 16px;
}

.administration .settings-content {
  width: 100%;
  min-height: 0;
  margin-bottom: 16px;
  overflow: visible;
  z-index: 10;
}

.administration .settings-content .mdl-card__title {
  padding-bottom: 0;
}

.administration .settings-content .mdl-card__actions {
  padding: 0;
}

.administration .settings-content .flex-row {
  padding: 0 2rem 1rem 3rem;
}

.administration .settings-content .flex-row > div {
  margin-right: 30px;
}

.administration .settings-content .flex-row > div:last-child {
  margin-right: 0;
}

.administration .settings-content form .mdl-textfield .mdl-button {
  right: 0;
}

.administration .settings-content form .mdl-textfield--small {
  width: 135px;
}

.administration .settings-content .btn-wrap {
  border-top: 1px #ddd solid;
}

.administration .settings-content .btn-wrap button[type="submit"] {
  margin: 16px 8px;
}

.administration .expander-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 1rem;
  border-top: 1px #ddd solid;
}

.administration .expander-title p {
  margin: 0;
  text-transform: uppercase;
}

.administration .expander-title i {
  flex: 0 0 24px;
  margin-right: 1rem;
}

.administration .expander-title:hover {
  cursor: pointer;
}

.administration .customer-list {
  width: 100%;
}

.administration .mdl-layout-title {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 2 !important;
  text-align: center;
}

.administration .mdl-navigation {
  padding-top: 0;
}

.administration .mdl-layout__header .current-user img {
  max-width: 50px;
  margin-right: 20px;
}

.administration .mdl-layout__header .current-user span {
  font-size: 16px;
}

.administration .mdl-navigation__link {
  font-weight: bold;
  text-transform: uppercase;
}

.administration .mdl-navigation__link.active {
  background: #e2e2e2;
}

.mdl-navigation__link .drawer-nav-item {
  padding-left: 16px;
}

.avatar {
  margin: auto;
}

.circle-image {
  max-width: 150px;
  max-height: 150px;
  margin: 0.5em;
  border-radius: 50%;
  float: center;
}

#toggle-label {
  display: block;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__header .mdl-layout__header-row {
  padding-left: 50px;
}

label#toggle_style_override {
  padding-left: 18px;
}

li#no-reply_style_override {
  padding-left: 0px;
}

#settingsCategory {
  font-weight: bold;
}
